
/*  Custom Properties */

:root {
    --green-bright: #54E6AF;
    --green-light: #B3FFE2;
    
    --near-black: #121725;
    --dark-blueish-grey: #2C344B;
    --blueish-grey: #5A668A;
    --medium-grey: #C2CBE5;
    --white: #FFFFFF;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-width: 374px;
    height: 100vh;
}
