
/*  Custom Properties */

:root {
    --green-bright: #54E6AF;
    --green-light: #B3FFE2;
    
    --near-black: #121725;
    --dark-blueish-grey: #2C344B;
    --blueish-grey: #5A668A;
    --medium-grey: #C2CBE5;
    --white: #FFFFFF;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Host Images */
.host-image-mobile {
    position: absolute;
    z-index: -1;
    opacity: 10%;
    height: 100%;
}

.host-image-tablet {
    display: none;
}

.host-image-desktop {
    display: none;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 96px;
    height: 40px;
    margin: 62px auto 41px auto;
}

h1 {
    color:#54E6AF;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 38px;
    margin: 0 24px 10px 24px;
}

span {
    color:#FFFFFF;
}

p {
    color:#C2CBE5;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 0 24px 33px 24px;
}

/* Podcast Logos */
.logo-spotify-podcasts {
    width: 56px;
    height: 17px;
    margin: 0 24px 48px 30px;
}

.logo-apple-podcasts {
    width: 46px;
    height: 17px;
    margin: 0 23px 48px 0;
}

.logo-google-podcasts {
    width: 73px;
    height: 11px;
    margin: 0 16px 48px 0;
}

.logo-pocket-casts-podcasts {
    width: 75.88px;
    height: 14.9px;
    margin: 0 14px 48px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 327px;
    height: 46px;
    margin: 0 24px 16px 24px;
    background-color: #2C344B;
    border-radius: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 32px;
    opacity: 0.5;
}

/* when error is hidden */
small {
    font-size: 12px;
    color: #FB3E3E;
    position: relative;
    bottom: 10px;
    left: 57px;
    visibility: hidden;
}

/* when error is shown */
.error small {
    visibility: visible;
}

button {
    width: 327px;
    height: 46px;
    margin: 0 24px;
    background-color: #54E6AF;
    border-radius: 28px;
    font-size: 14px;
    color: #121725;
    line-height: 28px;
}

button:hover {
    background-color:var(--green-light);
    cursor: pointer;
}

.pattern-dots {
    display: none;
}

@media(min-width: 768px) {

   main {
       width: 768px;
       height: 1024px;
       /* keeps host image from moving! */
       position: relative;
   }

    .host-image-mobile {
        display: none;
    }
    
    .host-image-tablet {
        display: inline;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    .logo {
        width: 135px;
        height: 56px;
        margin-left: 39px;
    }
    .inner-container {
        margin: 100px 94px 153px 39px;
        align-items: start;
        width: 635px;
        height: 509px;
        background-color:var(--near-black);
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        margin: 93px 0 30px 24px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        margin-bottom: 30px;
        margin-right: 170px;
        height: 96px;
    }

    .podcast-logos-container {
        position: absolute;
        bottom: 257px;
    }

    .logo-spotify-podcasts {
        width: 96px;
        height: 29px;
        margin: 0 24px 0 30px;
    }
    .logo-apple-podcasts {
        width: 78px;
        height: 29px;
        margin: 0 23px 0 0;
    }
    .logo-google-podcasts {
        width: 125px;
        height: 18px;
        margin: 0 16px 0 0;
    }
    .logo-pocket-casts-podcasts {
        width: 129px;
        height: 26px;
        margin: 0 14px 0 0;
    }

    input {
        width: 427px;
        height: 56px;
        margin: 0 0 0 24px;
    }

    small {
        bottom: -8px;
        left: 57px;
        visibility: hidden;
    }

    button {
        position: absolute;
        top: 625px;
        left: 300px;
        width: 162px;
        height: 46px;
    }

    .pattern-dots {
        display: inline;
        position: relative;
        left: -206px;
    }
}

@media(min-width: 1280px) {

    main {
        width: 1440px;
        height: 900px;
        margin: 130px 0 0px 165px;
    }

    .host-image-tablet {
        display: none;
    }
    
    .host-image-desktop {
        display: inline;
        position: absolute;
        z-index: -1;
        right: 0;
    }

    .logo {
        margin: 0;
        position: relative;
        left: -625px;
        top: -30px;
    }

    .inner-container {
        width: 723px;
        margin-top: 131px;
        margin-left: -623px;
    }

    h1 {
        font-size: 52px;
        line-height: 62px;
        padding-right: 44px;
        margin-top: 37px;
    }
    

    button {
        position:relative;
        top: -67px;
        left: 259px;
    }

    .pattern-dots {
        position: relative;
        top: -205px;
        left: 715px;
    }
}


