
/*  Custom Properties */

:root {
    --green-bright: #54E6AF;
    --green-light: #B3FFE2;
    
    --near-black: #121725;
    --dark-blueish-grey: #2C344B;
    --blueish-grey: #5A668A;
    --medium-grey: #C2CBE5;
    --white: #FFFFFF;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
    height: 100vh;
    font-family: 'Chivo', sans-serif;
    text-align: center;
    background-color: var(--near-black);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.logo {
    margin-bottom: ;
    width: 96px;
    height: 40px;
    position: relative;
    top: 62px;
}

.host-image-mobile {
    z-index: -1;
    position: absolute;
    filter: opacity(20%);
}

.host-image-tablet {
    display: none;
}

.host-image-desktop {
    display: none;
}

main {
    margin: 103px 24px 94px 24px;
}

h1 {
    color: var(--green-bright);
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 38px;
}

span {
    color: var(--white);
}

p {
    color: var(--medium-grey);
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 25px;
}

.podcast-logos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
}

.logo-spotify-podcasts {
    width: 56px;
    height: 17px;
    margin: 0 24px 0 0;
}

.logo-apple-podcasts {
    width: 46px;
    height: 17px;
    margin: 0 23px 0 0;
}

.logo-google-podcasts {
    width: 73px;
    height: 11px;
    margin: 0 16px 0 0;
}

.logo-pocket-casts-podcasts {
    width: 75.88px;
    height: 14.9px;
    margin: 0 14.9px 0 0;
}

.logos-fill {
    fill: var(--dark-blueish-grey);
}

input {
    height: 46px;
    width: 327px;
    background-color: var(--dark-blueish-grey);
    color: var(--white);
    border-radius: 28px;
    margin-bottom: 16px;
    font-size: 14px;
    padding-left: 35px;;
}

button {
    height: 46px;
    width: 327px;
    background-color: var(--green-bright);
    color: var(--dark-blueish-grey);
    border-radius: 28px;
    font-size: 14px;
}

.podcast-logos-container-wideview {
    display: none;
}

.dots-pattern {
    display: none;
}

/* Tablet View */
@media (min-width: 768px) {
    body {
        text-align: left;
    }

    .logo {
        width: 135px;
        height: 56px;
        top: 50px;
        left: 50px;
    }

/* Used display: block; to show the image, z-inex: -1; to move the image behind the main 
tag, and position: absolute; to image out of the document flow. */
    .host-image-mobile {
        display: none;
    }

    .host-image-tablet {
        display: block;
        position: absolute; 
        left: 277px;
        bottom: 257px;
        z-index: -1;
    }

    main {
        background-color: var(--near-black);
        width: 635px;
        height: 509px;
        margin: 258px 94px 0 39px;
        position: relative;
        bottom: 60px;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        padding-top: 93px;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin-right: 180px;
    }

    .podcast-logos-container {
        display: none;
    }

    input {
        width: 427px;
        height: 56px;
    }

    button {
        width: 162px;
        height: 46px;
        position: relative;
        right: 170px;
    }

    .podcast-logos-container-wideview {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
   
    .logo-spotify-podcasts {
        width: 96px;
        height: 29px;
        margin: 64px 40px 0 0;
    }

    .logo-apple-podcasts {
        width: 78px;
        height: 29px;
        margin: 64px 41px 0 0;
    }

    .logo-google-podcasts {
        width: 125px;
        height: 18px;
        margin: 64px 27px 0 0;
    }

    .logo-pocket-casts-podcasts {
        width: 129px;
        height: 26px;
        margin: 64px 99px 0 0;
    }

    .dots-pattern {
        display: inline;
        margin-left: 39px;
        margin-top: 90px;
    }
} 

@media (min-width: 1024px) {
    body {
        max-width: 1440px;
    }

    .desktop-wrapper {
        height: 640px;
        width: 1275px;
    }

    .host-image-mobile {
       display: none;
    }
    
    .host-image-tablet {
        display: none;
    }
    
    .host-image-desktop {
        display: inline;
        z-index: -1;
        position: absolute;
        top: 130px;
        right: 0;
    }

    main {
        width: 723px;
        height: 509px;
    }
}